.app.dark {
    --bg-color: var(--color-gray-dark);
    --bg-color-inverted: var(--color-gray-light);

    --primary-color: var(--color-primary-light);
    --primary-color-inverted: var(--color-primary-dark);
    --secondary-color: var(--color-secondary-light);
    --secondary-color-inverted: var(--color-secondary-dark);
}
